{% extends 'studioapp/base.html' %}
{% load static %}
{% block content %}
<section class="hero section-padding-100-70" id="hero">
    <div class="container">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start mb-4">
                <h2 class="topline text-danger">Art of the Muses</h2>
                <h1 class="headline text-uppercase">Amazing Space, Excellent Gear, Exceptional Staff</h1>
                <p class="hero-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <a href="{%url 'about' %}" class="btn btn-danger text-light">Discover More</a>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <form class="p-4 p-md-5 border rounded-3 bg-light">
                    <h4 class="text-dark text-center">Latest Releases</h4>

                    {%  for song in songs %}
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-info">{{ song.title }}</strong>
                                <a href="{{ song.youtube }}" target="_blank" rel="noopener noreferrer" class="text-info"><i class='bx bx-play-circle bx-tada lead'></i></a>
                            </div>
                            <span class="d-block">{{ song.artist }}</span>
                        </div>
                    </div>
                    {%  endfor %}
                    <hr class="my-4">
                </form>
            </div>
        </div>
    </div>
</section>

<section class="who-we-are py-5 section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="{% static '/img/2.jpg' %}" alt="" class="rounded" style="box-shadow: 0 0 15px rgb(3, 3, 3);">
            </div>
            <div class="col-lg-4 py-5">
                <h6 class="text-danger who">Who we are</h6>
                <h2 class="text-uppercase tagline">Number one studio. When Only The Best Will Do!</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
                <div>
                    <a href="#" class="btn btn-danger text-light">More About Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="word section-padding-100-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 text-center text-lg-start mb-4">
                <h1 class="headline text-uppercase">Music is the universal language of mankind.</h1>
                <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis neque
                    exercitationem, sequi non sed placeat ea modi sapiente nihil tenetur.</p>
                <a href="#" class="btn btn-light text-dark">Discover More</a>
            </div>

            <div class="col-lg-7">
                <iframe class="border-2" width="727" height="409" src="https://www.youtube.com/embed/HM1_a3oCjGk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div id="pricing" class="section md-padding">

        <!-- Container -->
        <div class="container">
            <div class="section-header text-center">
                <h2 class="title">Rate Card</h2>
            </div>
            <!-- Row -->
            <div class="row">

                <!-- Section header -->

                <!-- /Section header -->

                <!-- pricing -->
                <div class="col-sm-4">
                    <div class="pricing">
                        <div class="price-head">
                            <span class="price-title">Music Production</span>
                            <div class="price">
                                <h3>Ksh 15k</h3>
                            </div>
                        </div>
                        <ul class="price-content">
                            <li>
                                <p>Audio Recording</p>
                            </li>
                            <li>
                                <p>Mixing</p>
                            </li>
                            <li>
                                <p>Mastering</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /pricing -->

                <!-- pricing -->
                <div class="col-sm-4">
                    <div class="pricing">
                        <div class="price-head">
                            <span class="price-title">Video Production</span>
                            <div class="price">
                                <h3>Ksh 10k</h3>
                            </div>
                        </div>
                        <ul class="price-content">
                            <li>
                                <p>Lighting</p>
                            </li>
                            <li>
                                <p>Shooting</p>
                            </li>
                            <li>
                                <p>Editing</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /pricing -->

                <!-- pricing -->
                <div class="col-sm-4">
                    <div class="pricing">
                        <div class="price-head">
                            <span class="price-title">Combined Offer</span>
                            <div class="price">
                                <h3>Ksh 25k</h3>
                            </div>
                        </div>
                        <ul class="price-content">
                            <li>
                                <p>Audio Production</p>
                            </li>
                            <li>
                                <p>Video Production</p>
                            </li>
                            <li>
                                <p>Marketing</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /pricing -->

            </div>
            <!-- Row -->

        </div>
        <!-- /Container -->

    </div>
</section>

<section class="why section-padding-100-70 text-center bg-light">
    <div class="container">
        <h2 class="text-uppercase why-txt">Didn't find package do you need?</h2>
        <p class="lead text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro unde nam labore
            quisquam atque ullam dolore eveniet. Similique, cupiditate?</p>

        <div class="text-center">
            <a href="#" class="btn btn-info text-light mb-4">Contact Us</a>
        </div>
    </div>
</section>

<section class="event">
    <div class="container">
        <div class="main-title-box text-center">
            <div class="small-title">Events & Shows</div>
            <h2 class="big-title">Upcoming Events & Shows</h2>
        </div>
        <div class="row">
            {% for post in event %}
            <!--Single Blog Start-->
            <div class="col-sm-6 col-lg-4 col-md-4">
                <div class="card bg-dark text-white " style="max-width: 18rem;">
                    <img class="card-img img-fluid" src="{{ post.event_image.url }}" alt="Card image">
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h4 class="card-title" style="font-family: 'Archivo Narrow', sans-serif;">{{ post.title}}</h4>
                        <h6 class="card-title mb-2" style="font-family: 'Archivo Narrow', sans-serif;">Hats_off Records
                        </h6>
                        
                        <hr>
                        <p><i class='bx bx-calendar'></i> {{ post.event_date }}</p>
                        <p><i class='bx bx-time'></i> {{ post.event_time }}</p>
                        <p><i class='bx bx-map'></i> {{ post.location }}</p>
                        <p><i class='bx bx-purchase-tag-alt'></i> {{ post.entry_fee }}</p>

                        <a href="#" class="btn btn-light"><i class='bx bx-purchase-tag-alt'></i> Ticket</a>
                    </div>
                </div>
            </div>
            <!--Single Blog End-->
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="{% url 'events' %}" class="btn btn-danger">More Events</a>
        </div>
    </div>
</section>

<!-- Contact Details -->
<section class="news-section section-padding-100-0 bg-dark" id="contact">
    <div class="container">
        <h1 class="text-center mb-5 text-light con-head" style="font-family: 'Archivo Narrow', sans-serif;">Contact
            Details</h1>
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="contact-content mb-100">
                    <!-- Title -->
                    <div class="contact-title mb-50">
                        <h5 class="text-light">Contact Info</h5>
                    </div>

                    <!-- Single Contact Info -->
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="icon mr-30">
                            <i class="fa fa-map-marker text-light"></i>
                        </div>
                        <p class="con text-light">Ground Floor, Ephesians 3:20 Building, Kikuyu</p>
                    </div>

                    <!-- Single Contact Info -->
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="icon mr-30">
                            <a href="#"><i class="fa fa-phone text-light"></i></a>
                        </div>
                        <p class="con text-light">+254 712 234567</p>
                    </div>

                    <!-- Single Contact Info -->
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="icon mr-30">
                            <a href="#"><i class="fa fa-envelope-o text-light"></i></a>
                        </div>
                        <p class="con text-light">hatsoffpro@gmail.com</p>
                    </div>

                    <!-- Contact Social Info -->
                    <div class="contact-social-info mt-50">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i
                                class="fa fa-twitter text-light"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i
                                class="fa fa-linkedin text-light"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i
                                class="fa fa-instagram text-light"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i
                                class="fa fa-facebook text-light"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i
                                class="fa fa-google-plus text-light"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-9">
                <!-- ##### Google Maps ##### -->
                <div class="map-area mb-100">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.875317988064!2d36.66665028447134!3d-1.2457359941191628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1f1bbef5cf4b%3A0x550fc9f9bf3500f0!2sEphesians%203%3A20%20Building!5e0!3m2!1sen!2ske!4v1641122682344!5m2!1sen!2ske"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Made your mind section -->
<section class="made bg-light">
    <div class="container text-center">
        <h2>Made your mind? Book Session Now</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae accusamus expedita et laudantium voluptates..
        </p>

        <a href="{%url 'booking' %}" class="btn btn-danger">Book Session</a>
    </div>
</section>
{% endblock content %}