{% extends 'studioapp/base.html' %} {% load static %} {% block content %}
<section class="serv-section bg-light">
    <div class="container my-5">
        <div class="text-center mb-5 col-md-10 mx-auto">
            <h2 class="font-weight-bold display-6 ">Our <span class="text-info">Services</span></h2>
            <p class="mx-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores dolore, dolorum
                error eveniet molestiae necessitatibus officiis possimus praesentium quas.</p>
        </div>
        <div class="row">
            <div class="col-md-4 my-4 ">
                    <div class="px-3 py-5 bg-white">
                        <div class="font-weight-bold circle rounded-circle d-flex align-items-center justify-content-center mx-auto my-3"
                                 style="width: 60px;height: 60px;">
                                 <img src="{%static 'img/mic.png'  %}" alt="" class="img-bounce">                               
                            </div>

                        <div class="px-3 text-center pb-3">
                            <h5 class="text-uppercase" style="font-weight: 600">Services</h5>
                            <p class="font-weight-light my-3">Lorem ipsum dolor sit consectetur adipisicing elit. Alias
                                amet
                                deleniti et fugit iusto nesciunt.</p>
                        </div>
                    </div>
            </div>
            <div class="col-md-4 my-4 ">
                    <div class="px-3 py-5 text-white serv-box" >
                        <div class="font-weight-bold circle rounded-circle d-flex align-items-center justify-content-center mx-auto my-3"
                                 style="width: 60px;height: 60px;">
                                 <img src="{%static 'img/net.png'  %}" alt="" class="img-bounce">                               
                            </div>

                        <div class="px-3 text-center pb-3">
                            <h5 class="text-uppercase" style="font-weight: 600">Services</h5>
                            <p class="font-weight-light my-3">Lorem ipsum dolor sit consectetur adipisicing elit. Alias
                                amet
                                deleniti et fugit iusto nesciunt.</p>
                        </div>
                    </div>
            </div>
            <div class="col-md-4 my-4 ">
                    <div class="px-3 py-5 bg-white">
                        <div class="font-weight-bold circle rounded-circle d-flex align-items-center justify-content-center mx-auto my-3"
                                 style="width: 60px;height: 60px;">
                                 <img src="{%static 'img/adobe.png'  %}" alt="" class="img-bounce">                               
                            </div>

                        <div class="px-3 text-center pb-3">
                            <h5 class="text-uppercase" style="font-weight: 600">Services</h5>
                            <p class="font-weight-light my-3">Lorem ipsum dolor sit consectetur adipisicing elit. Alias
                                amet
                                deleniti et fugit iusto nesciunt.</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}